---
layout: layout.njk
title: About
eleventyNavigation:
  key: About
  order: 2
---

{% include "breadcrumb-component.njk" %}

<div class="column is-12 has-text-centered has-text-white">
  <h1 class="title">About</h1>
  <h2 class="subtitle is-4 has-text-white">Whether Weather</h2>
</div>

<div class="block has-text-centered has-text-white">
  <p>Whether Weather have launched a new API that provides weather data for cities all over the world using the latest
    satellite technology.</p>
  <p>This is their first web app designed to display the weather and forecast for the next 7 days for cities all over
    the world.</p>
</div>