---
layout: layout.njk
title: Health and Activites
eleventyNavigation:
  key: Health and Activities
  order: 4
---
<!-- https://bulma.io/documentation/components/breadcrumb/ -->
<div class="column is-12 has-text-centered">
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li><a href="/index">Home</a></li>
      <li class="is-active"><a href="#" aria-current="page">Health and Activities</a></li>
    </ul>
  </nav>
  </div>

  <div class="column is-12 has-text-centered has-text-white">
    <h1 class="title is-2">Health and Activities</h1>
  </div>

<div class="field column is-12">
  <p class="control has-icons-left">
    <span class="select">
      <select>
        <option selected>City</option>
        <option>Dublin</option>
        <option>London</option>
        <option>Paris</option>
        <option>Rome</option>
        <option>Tokyo</option>
        <option>New York</option>
      </select>
    </span>
    <span class="icon is-small is-left">
      <i class="fas fa-globe"></i>
    </span>
  </p>
</div>

<section class="content column">
  <h1 class="title is-4">Allergies</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <p> <i class="fa-solid fa-tree"></i> Tree Pollen - Low</p>
        <p> <i class="fa-solid fa-seedling"></i> Ragweed Pollen - Low</p>
        <p> <i class="fa-solid fa-disease"></i> Mold - High</p>
        <p> <i class="fa-solid fa-seedling"></i> Grass Pollen - Low</p>
        <p> <i class="fa-solid fa-rug"></i> Dust & Dander - Low</p>
      </div>
    </div>
  </div>
</section>
<section class="content column">
  <h1 class="title is-4">Health</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <p> <i class="fa-solid fa-kit-medical"></i> Arthritis - Low</p>
        <p> <i class="fa-solid fa-syringe"></i> Sinus Pressure - Moderate</p>
        <p> <i class="fa-solid fa-box-tissue"></i> Common Cold - Low</p>
        <p> <i class="fa-solid fa-thermometer"></i> Flu - Low</p>
        <p> <i class="fa-solid fa-pills"></i> Migraine - Moderate</p>
        <p> <i class="fa-solid fa-lungs"></i> Asthma - Low</p>
      </div>
    </div>
  </div>
</section>
  <section class="content column">
  <h1 class="title is-4">Outdoor Activities</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <p> <i class="fa-solid fa-fish-fins"></i> Fishing - Fair</p>
        <p> <i class="fa-solid fa-person-running"></i> Running - Good</p>
        <p> <i class="fa-solid fa-golf-ball-tee"></i> Golf - Fair</p>
        <p> <i class="fa-solid fa-person-biking"></i> Biking & Cycling - Good</p>
        <p> <i class="fa-solid fa-umbrella-beach"></i> Beach & Pool - Poor</p>
        <p> <i class="fa-solid fa-star"></i> Stargazing - Poor</p>
      </div>
    </div>
  </div>
</section>
  <section class="content column">
  <h1 class="title is-4">Travel & Commute</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <p> <i class="fa-solid fa-plane"></i> Air Travel - Ideal</p>
        <p> <i class="fa-solid fa-car"></i> Driving - Ideal</p>
      </div>
    </div>
  </div>
</section>
  <section class="content column">
  <h1 class="title is-4">Home & Garden</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <p> <i class="fa-solid fa-house-chimney"></i> Lawn Mowing - Poor</p>
        <p> <i class="fa-solid fa-apple-whole"></i> Composting - Poor</p>
        <p> <i class="fa-solid fa-martini-glass"></i> Outdoor Entertainment - Poor</p>
      </div>
    </div>
  </div>
</section>
  <section class="content column">
  <h1 class="title is-4">Pests</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <p> <i class="fa-solid fa-mosquito"></i> Mosquitos - Low</p>
        <p> <i class="fa-solid fa-spider"></i> Indoor Pests - Moderate</p>
        <p> <i class="fa-solid fa-bugs"></i> Outdoor Pests - Low</p>
      </div>
    </div>
  </div>
</section>

