---
layout: layout.njk
title: Dashboard
eleventyNavigation:
  key: Home
  order: 1
---

<div class="column is-12 has-text-centered has-text-white">
  <h1 class="title">Dashboard</h1>
  <h2 class="subtitle is-4 has-text-white">Today</h2>
</div>

{% set cityTitle = "Dublin" %}
{% set cityImage = "/images/dublin.jpg" %}
{% set cityDescription = "Low clouds" %}
{% set maxTemp = "8°C" %}
{% set maxWindStrength = "15km/h" %}
{% set cityPath = "/dublin"%}

{% include "city-card-component.njk" %}

{% set cityTitle = "London" %}
{% set cityImage = "/images/london.jpg" %}
{% set cityDescription = "Low clouds" %}
{% set maxTemp = "8°C" %}
{% set maxWindStrength = "15km/h" %}
{% set cityPath = "/london"%}

{% include "city-card-component.njk" %}

{% set cityTitle = "Paris" %}
{% set cityImage = "/images/paris.jpg" %}
{% set cityDescription = "Partly sunny and chilly" %}
{% set maxTemp = "5°C" %}
{% set maxWindStrength = "13km/h" %}
{% set cityPath = "/paris"%}

{% include "city-card-component.njk" %}

{% set cityTitle = "Rome" %}
{% set cityImage = "/images/rome.jpg" %}
{% set cityDescription = "Plenty of sunshine" %}
{% set maxTemp = "12°C" %}
{% set maxWindStrength = "6km/h" %}
{% set cityPath = "/rome"%}

{% include "city-card-component.njk" %}

{% set cityTitle = "Tokyo" %}
{% set cityImage = "/images/tokyo.jpg" %}
{% set cityDescription = "Plenty of sunshine" %}
{% set maxTemp = "11°C" %}
{% set maxWindStrength = "11km/h" %}
{% set cityPath = "/tokyo"%}

{% include "city-card-component.njk" %}

{% set cityTitle = "New York" %}
{% set cityImage = "/images/new-york.jpg" %}
{% set cityDescription = "Cloudy most of the time with a little rain late in the afternoon" %}
{% set maxTemp = "2°C" %}
{% set maxWindStrength = "6km/h" %}
{% set cityPath = "/new-york"%}

{% include "city-card-component.njk" %}