---
layout: layout.njk
title: Dashboard
eleventyNavigation:
  key: Home
  order: 1
---

  <main class="columns is-multiline box has-background-info-20-invert">
    <div class="column is-12 has-text-centered has-text-link">
      <h1 class="title is-spaced has-text-black">Dashboard</h1>
      <h2 class="subtitle">Today</h2>
    </div>
    <div class="column is-4">
      <section class="card has-text-centered">
        <header class="card-header">
          <p class="card-header-title is-size-4 is-centered">Dublin</p>
        </header>
        <div class="card-image">
          <figure class="image has-background-white is-3by3">
            <img src="/images/dublin.jpg" alt="Dublin">
          </figure>
        </div>
        <article class="card-content">
          <p class="content is-size-4">
            <span class="icon">
              <i class="fa-regular fa-sun"></i>
            </span>
            Sunshine and a few clouds. Hi: 8°C
          </p>
          <p class="content is-size-4">
            <span class="icon">
              <i class="fa-solid fa-wind"></i>            
            </span>
            Wind gusts: 23km/h
          </p>
        </article>
        <footer class="card-footer">
          <a href="/city" class="card-footer-item">View</a>
          <a href="#" class="card-footer-item">Add to Favourites</a>
          <a href="#" class="card-footer-item">Remove</a>
        </footer>
      </section>
    </div>
    <div class="column is-4">
      <section class="card has-text-centered">
        <header class="card-header">
          <p class="card-header-title is-size-4 is-centered">London</p>
        </header>
        <div class="card-image">
          <figure class="image">
            <img src="/images/london.jpg" alt="London">
          </figure>
        </div>
        <article class="card-content">
          <p class="content is-size-4">
            12°C
          </p>
        </article>
        <footer class="card-footer">
          <a href="/city" class="card-footer-item">View</a>
          <a href="#" class="card-footer-item">Add to Favourites</a>
          <a href="#" class="card-footer-item">Remove</a>
        </footer>
      </section>
    </div>
    <div class="column is-4">
      <section class="card has-text-centered">
        <header class="card-header">
          <p class="card-header-title is-size-4 is-centered">Paris</p>
        </header>
        <div class="card-image">
          <figure class="image">
            <img src="/images/paris.jpg" alt="Paris">
          </figure>
        </div>
        <article class="card-content">
          <p class="content is-size-4">
            12°C
          </p>
        </article>
        <footer class="card-footer">
          <a href="/city" class="card-footer-item">View</a>
          <a href="#" class="card-footer-item">Add to Favourites</a>
          <a href="#" class="card-footer-item">Remove</a>
        </footer>
      </section>
    </div>
    <div class="column is-4">
      <section class="card has-text-centered">
        <header class="card-header">
          <p class="card-header-title is-size-4 is-centered">Rome</p>
        </header>
        <div class="card-image">
          <figure class="image">
            <img src="/images/rome.jpg" alt="Rome">
          </figure>
        </div>
        <article class="card-content">
          <p class="content is-size-4">
            12°C
          </p>
        </article>
        <footer class="card-footer">
          <a href="/city" class="card-footer-item">View</a>
          <a href="#" class="card-footer-item">Add to Favourites</a>
          <a href="#" class="card-footer-item">Remove</a>
        </footer>
      </section>
    </div>
    <div class="column is-4">
      <section class="card has-text-centered">
        <header class="card-header">
          <p class="card-header-title is-size-4 is-centered">Tokyo</p>
        </header>
        <div class="card-image">
          <figure class="image">
            <img src="/images/tokyo.jpg" alt="Tokyo">
          </figure>
        </div>
        <article class="card-content">
          <p class="content is-size-4">
            12°C
          </p>
        </article>
        <footer class="card-footer">
          <a href="/city" class="card-footer-item">View</a>
          <a href="#" class="card-footer-item">Add to Favourites</a>
          <a href="#" class="card-footer-item">Remove</a>
        </footer>
      </section>
    </div>
    <div class="column is-4">
      <section class="card has-text-centered">
        <header class="card-header">
          <p class="card-header-title is-size-4 is-centered">New York</p>
        </header>
        <div class="card-image">
          <figure class="image">
            <img src="/images/new york.jpg" alt="New York">
          </figure>
        </div>
        <article class="card-content">
          <p class="content is-size-4">
            12°C
          </p>
        </article>
        <footer class="card-footer">
          <a href="/city" class="card-footer-item">View</a>
          <a href="#" class="card-footer-item">Add to Favourites</a>
          <a href="#" class="card-footer-item">Remove</a>
        </footer>
      </section>
    </div>
  </main>