---
layout: layout.njk
title: London
cityTitle: London
cityImage: /images/london.jpg
cityDescription: Low clouds
maxTemp: 8°C
maxWindStrength: 15km/h
cityPath: /london
eleventyNavigation:
  key: London
  parent: City
  order: 2
---
<!-- https://bulma.io/documentation/components/breadcrumb/ -->
<div class="column is-12 has-text-centered">
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Dublin</a></li>
  </ul>
</nav>
</div>

<div class="column is-12">
  <p class="title is-4">Today</p>
  <button class="js-modal-trigger button" data-target="weather-modal">
    Right Now
  </button>
</div>

  {% set weatherNowImage = "/images/cloud.svg" %}
  {% set tempNow = "8°C" %}
  {% set windStrengthNow = "22km/h" %}

  {% include "weather-modal-component.njk" %}

  <div class="column is-12 has-text-centered has-text-white">
    <p class="title is-4">The Week Ahead</p>
    </div>

  {% include "city-card-component.njk" %}

  {% set dayOfWeek = "Monday" %}
  {% set weatherImage = "/images/cloud.svg" %}
  {% set weatherDescription = "Low clouds" %}
  {% set weatherInfo = "Max Temp (°C): 7°C, Max Wind Strength (km/h): 13km/h" %}

  {% include "weekday-card-component.njk" %}

  {% set dayOfWeek = "Tuesday" %}
  {% set weatherImage = "/images/cloud.svg" %}
  {% set weatherDescription = "Low Clouds" %}
  {% set weatherInfo = "Max Temp (°C): 7°C, Max Wind Strength (km/h): 13km/h" %}

  {% include "weekday-card-component.njk" %}

  {% set dayOfWeek = "Wednesday" %}
  {% set weatherImage = "/images/sun.svg" %}
  {% set weatherDescription = "Sunny" %}
  {% set weatherInfo = "Max Temp (°C): 5°C, Max Wind Strength (km/h): 9km/h" %}

  {% include "weekday-card-component.njk" %}

  {% set dayOfWeek = "Thursday" %}
  {% set weatherImage = "/images/cloud.svg" %}
  {% set weatherDescription = "Cloudy" %}
  {% set weatherInfo = "Max Temp (°C): 6°C, Max Wind Strength (km/h): 20km/h" %}

  {% include "weekday-card-component.njk" %}

  {% set dayOfWeek = "Friday" %}
  {% set weatherImage = "/images/partly-sunny.svg" %}
  {% set weatherDescription = "Mostly Sunny" %}
  {% set weatherInfo = "Max Temp (°C): 5°C, Max Wind Strength (km/h): 15km/h" %}

  {% include "weekday-card-component.njk" %}

  {% set dayOfWeek = "Saturday" %}
  {% set weatherImage = "/images/partly-sunny.svg" %}
  {% set weatherDescription = "Sunshine and some clouds" %}
  {% set weatherInfo = "Max Temp (°C): 7°C, Max Wind Strength (km/h): 17km/h" %}

  {% include "weekday-card-component.njk" %}

  {% set dayOfWeek = "Sunday" %}
  {% set weatherImage = "/images/cloud.svg" %}
  {% set weatherDescription = "Increasing cloudiness with a flurry in the afternoon" %}
  {% set weatherInfo = "Max Temp (°C): 5°C, Max Wind Strength (km/h): 11km/h" %}

  {% include "weekday-card-component.njk" %}