---
layout: layout.njk
title: Paris
eleventyNavigation:
  key: Paris 
  parent: City
  order: 2
---

  <main class="columns is-multiline box has-background-info-20-invert is-centered">
    <div class="column is-12 has-text-centered">
      <h1 class="title is-spaced has-text-black">Dublin</h1>
      <h2 class="subtitle">Today</h2>
    </div>
    <div class="column is-4">
      <section class="card has-text-centered">
        <header class="card-header">
          <p class="card-header-title is-size-4 is-centered is-1280x1280">City 1</p>
        </header>
        <div class="card-image">
          <figure class="image">
            <img src="/images/rain-with-lightning-and-clouds.jpg" alt="Rain with lightning and clouds">
          </figure>
        </div>
        <article class="card-content">
          <p class="content is-size-4">
            12°C
          </p>
        </article>
        <footer class="card-footer">
          <a href="/city" class="card-footer-item">View</a>
          <a href="#" class="card-footer-item">Add to Favourites</a>
          <a href="#" class="card-footer-item">Remove</a>
        </footer>
      </section>
    </div>
    <div class="column is-8">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The Grudge</td>
            <td>Tool</td>
            <td>8:35</td>
          </tr>
          <tr>
            <td>The Grudge</td>
            <td>Tool</td>
            <td>8:35</td>
          </tr>
          <tr>
            <td>The Grudge</td>
            <td>Tool</td>
            <td>8:35</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>