---
layout: layout.njk
title: Rome
cityTitle: Rome
cityImage: /images/rome.jpg
cityDescription: Plenty of sunshine
maxTemp: 12°C
maxWindStrength: 6km/h
cityPath: /rome
eleventyNavigation:
  key: Rome
  parent: City
  order: 2
---

{% include "breadcrumb-component.njk" %}

<div class="column is-12">
  <h1 class="title">Today</h1>
  <button class="js-modal-trigger button" data-target="weather-modal">
    Right Now
  </button>
</div>

{% set weatherNowImage = "/images/partly-sunny.svg" %}
{% set tempNow = "9°C" %}
{% set windStrengthNow = "13km/h" %}

{% include "weather-modal-component.njk" %}

<div class="column is-12 has-text-centered has-text-white">
  <h2 class="title is-4">The Week Ahead</h2>
</div>

{% include "city-card-component.njk" %}

{% set dayOfWeek = "Monday" %}
{% set weatherImage = "/images/sun.svg" %}
{% set weatherDescription = "Sunny" %}
{% set weatherInfo = "Max Temp (°C): 13°C, Max Wind Strength (km/h): 6km/h" %}

{% include "weekday-card-component.njk" %}

{% set dayOfWeek = "Tuesday" %}
{% set weatherImage = "/images/partly-sunny.svg" %}
{% set weatherDescription = "Partly sunny" %}
{% set weatherInfo = "Max Temp (°C): 12°C, Max Wind Strength (km/h): 6km/h" %}

{% include "weekday-card-component.njk" %}

{% set dayOfWeek = "Wednesday" %}
{% set weatherImage = "/images/partly-sunny.svg" %}
{% set weatherDescription = "Sunny to partly cloudy" %}
{% set weatherInfo = "Max Temp (°C): 11°C, Max Wind Strength (km/h): 7km/h" %}

{% include "weekday-card-component.njk" %}

{% set dayOfWeek = "Thursday" %}
{% set weatherImage = "/images/cloud.svg" %}
{% set weatherDescription = "Increasing clouds" %}
{% set weatherInfo = "Max Temp (°C): 11°C, Max Wind Strength (km/h): 7km/h" %}

{% include "weekday-card-component.njk" %}

{% set dayOfWeek = "Friday" %}
{% set weatherImage = "/images/cloud-rain.svg" %}
{% set weatherDescription = "Morning rain; otherwise, plenty of clouds" %}
{% set weatherInfo = "Max Temp (°C): 11°C, Max Wind Strength (km/h): 15km/h" %}

{% include "weekday-card-component.njk" %}

{% set dayOfWeek = "Saturday" %}
{% set weatherImage = "/images/cloud-sun-rain.svg" %}
{% set weatherDescription = "Intervals of clouds and sunshine with a couple of showers, mainly later" %}
{% set weatherInfo = "Max Temp (°C): 12°C, Max Wind Strength (km/h): 20km/h" %}

{% include "weekday-card-component.njk" %}

{% set dayOfWeek = "Sunday" %}
{% set weatherImage = "/images/sun.svg" %}
{% set weatherDescription = "Mostly sunny" %}
{% set weatherInfo = "Max Temp (°C): 10°C, Max Wind Strength (km/h): 13km/h" %}

{% include "weekday-card-component.njk" %}