---
layout: layout.njk
title: Settings
eleventyNavigation:
  key: Settings
  order: 5
---
<!-- https://bulma.io/documentation/components/breadcrumb/ -->
<div class="column is-12 has-text-centered">
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li><a href="/index">Home</a></li>
      <li class="is-active"><a href="#" aria-current="page">Settings</a></li>
    </ul>
  </nav>
  </div>

<div class="column is-12 has-text-centered">
    <p class="title is-spaced">Settings</p>
  </div>
  <section class="section box has-background-light has-text-dark column is-4 m-2">
    <p class="title is-5 has-text-dark">Favourite Cities</p>
    <div class="checkboxes">
      <label class="checkbox">
        <input type="checkbox" />
        Dublin
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        London
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Paris
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Rome
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Tokyo
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        New York
      </label>
    </div>
    <div class="column is-12">
      <label class="checkbox">
        <input type="checkbox" checked />
        Save my preferences
      </label>
    </div>
  </section>
  <section class="section box has-background-light has-text-dark column is-4 m-2">
    <p class="title is-5 has-text-dark">Preferences</p>
    <div class="select m-2">
      <select>
        <option>Preferred Units</option>
        <option>Celsius</option>
        <option>Fahrenheit</option>
      </select>
    </div>
    <div class="select m-2">
      <select>
        <option>Enable Precise Location Services</option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div class="select m-2">
      <select>
        <option>Turn On Severe Weather Alerts</option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div>
      <input class="input m-2" type="text" placeholder="Home Address" />
    </div>
    <div>
      <input class="input m-2" type="text" placeholder="Work Address" />
    </div>
    <div class="column is-12">
      <label class="checkbox">
        <input type="checkbox" checked />
        Save my preferences
      </label>
    </div>
  </section>