---
layout: layout.njk
title: Settings
eleventyNavigation:
  key: Settings
  order: 3
---

<main class="columns is-multiline box has-background-info-20">
  <div class="column is-12 has-text-centered">
    <h1 class="title is-spaced">Settings</h1>
  </div>
  <h2 class="subtitle">Favourite Cities</h2>
  <section class="section box column is-12 has-text-centered">
    <div class="checkboxes">
      <label class="checkbox">
        <input type="checkbox" />
        Dublin
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        London
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Paris
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Rome
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Tokyo
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        New York
      </label>
    </div>
  <div class="column is-12">
    <label class="checkbox">
      <input type="checkbox" checked />
      Save my preferences
    </label>
  </div>
</section>
  <h2 class="subtitle">Settings</h2>
  <section class="section box column is-12 has-text-centered">
    <div class="checkboxes">
      <label class="checkbox">
        <input type="checkbox" />
        Celsius
        <input type="checkbox" />
        Fahrenheit
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        London
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Paris
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Rome
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Tokyo
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        New York
      </label>
    </div>
  <div class="column is-12">
    <label class="checkbox">
      <input type="checkbox" checked />
      Save my preferences
    </label>
  </div>
</section>
</main>