---
layout: layout.njk
title: Tokyo
cityTitle: Tokyo
cityImage: /images/tokyo.jpg
cityDescription: Clear / Sunny
cityWeather: Max Temp (°C) 18°C, Max Wind Strength (km/h) 28km/h
cityPath: /tokyo
eleventyNavigation:
  key: Tokyo
  parent: City
  order: 2
---

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Tokyo</a></li>
  </ul>
</nav>

<main class="columns is-multiline box has-background-info-20">

  <div class="column">

    {% include "city-card-component.njk" %}

    <section class="section">
      <h2 class="title is-4">Right Now</h2>
      <figure class="image is-128x128">
        <img src="/images/rain.jpg" alt="Rain">
      </figure>
      <h3 class="title is-5">Max Temp (°C)</h3>
      <p class="subtitle is-3">11°C </p>
      <h3 class="title is-5">Max Wind Strength (km/h)</h3>
      <p class="subtitle is-3">26km/h </p>
    </section>

  </div>

  <div class="columns is-4 is-centered is-multiline">
    <section class="column is-2 card">
      <header class="card-header">
        <p class="card-header-title is-size-4">Monday</p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="/images/cloudy.jpg" alt="Cloudy Sky">
        </figure>
      </div>
      <article class="card-content">
        <p class="content is-size-4">
          Cloudy
        </p>
        <p class="content is-size-4">
          Max Temp (°C): 11°C <br> Max Wind Strength (km/h): 20km/h
        </p>
      </article>
    </section>
    <section class="column is-2 card">
      <header class="card-header">
        <p class="card-header-title is-size-4">Tuesday</p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="/images/cloudy.jpg" alt="Cloudy Sky">
        </figure>
      </div>
      <article class="card-content">
        <p class="content is-size-4">
          Sunny
        </p>
        <p class="content is-size-4">
          Max Temp (°C): 9°C <br> Max Wind Strength (km/h): 35km/h
        </p>
      </article>
    </section>
    <section class="column is-2 card">
      <header class="card-header">
        <p class="card-header-title is-size-4">Wednesday</p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="/images/sunny-intervals.jpg" alt="Sunny Sky">
        </figure>
      </div>
      <article class="card-content">
        <p class="content is-size-4">
          Cloudy/Rain
        </p>
        <p class="content is-size-4">
          Max Temp (°C): 13°C <br> Max Wind Strength (km/h): 19km/h
        </p>
      </article>
    </section>
    <section class="column is-2 card">
      <header class="card-header">
        <p class="card-header-title is-size-4">Thursday</p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="/images/sunny-intervals.jpg" alt="Sunny Sky">
        </figure>
      </div>
      <article class="card-content">
        <p class="content is-size-4">
          Sunny Intervals
        </p>
        <p class="content is-size-4">
          Max Temp (°C): 15°C <br> Max Wind Strength (km/h): 19km/h
        </p>
      </article>
    </section>
    <section class="column is-2 card">
      <header class="card-header">
        <p class="card-header-title is-size-4">Friday</p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="/images/cloudy.jpg" alt="Cloudy Sky">
        </figure>
      </div>
      <article class="card-content">
        <p class="content is-size-4">
          Sunny (High Winds)
        </p>
        <p class="content is-size-4">
          Max Temp (°C): 9°C <br> Max Wind Strength (km/h): 75km/h
        </p>
      </article>
    </section>
    <section class="column is-2 card">
      <header class="card-header">
        <p class="card-header-title is-size-4">Saturday</p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="/images/sunny-intervals.jpg" alt="Sunny Sky">
        </figure>
      </div>
      <article class="card-content">
        <p class="content is-size-4">
          Sunny Intervals
        </p>
        <p class="content is-size-4">
          Max Temp (°C): 7°C <br> Max Wind Strength (km/h): 35km/h
        </p>
      </article>
    </section>
    <section class="column is-2 card">
      <header class="card-header">
        <p class="card-header-title is-size-4">Sunday</p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="/images/cloudy.jpg" alt="Cloudy Sky">
        </figure>
      </div>
      <article class="card-content">
        <p class="content is-size-4">
          Sunny
        </p>
        <p class="content is-size-4">
          Max Temp (°C): 10°C <br> Max Wind Strength (km/h): 35km/h
        </p>
      </article>
    </section>


  </div>

</main>