<!-- https://bulma.io/documentation/components/card/ -->
<div class="column is-2">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">{{cityTitle}}</p>
    </header>
    <div class="card-image">
      <figure class="image">
        <img src="{{cityImage}}" alt="City Image">
      </figure>
    </div>
    <article class="card-content">
      <p class="content is-size-4">
        {{cityDescription}}
      </p>
      <p class="content is-size-4">
        Max Temp: {{maxTemp}}
      </p>
      <p class="content is-size-4">
        Max Wind Strength: {{maxWindStrength}}
      </p>
    </article>
    <footer class="card-footer">
      <a href="{{cityPath}}" class="card-footer-item">View</a>
      <a href="#" class="card-footer-item">Add to Favourites</a>
      <a href="#" class="card-footer-item">Remove</a>
    </footer>
  </section>
</div>