<footer class="footer has-background-dark has-text-primary">
  <div class="container">
    <div class="content has-text-centered has-text-weight-bold">
      <p>
        (Whether) Weather &trade;
      </p>
    </div>
  </div>
</footer>