<!-- https://bulma.io/documentation/layout/footer/ -->
<footer class="footer has-background-info-50">
  <div class="content has-text-centered has-text-weight-bold has-text-warning">
    <p>
      (Whether) Weather &trade;
    </p>
  </div>
</footer>