<section class="hero is-small">
  <div class="hero-body has-text-centered">
    <img src="/images/logo.png" alt="logo">
    <p class="subtitle">
      The best place to get all your weather updates!
    </p>
  </div>
</section>