<!-- https://bulma.io/documentation/layout/hero/ -->
<section class="hero is-small">
  <div class="hero-body has-text-centered has-background-info">
    <img src="/images/logo.png" alt="logo">
    <p class="subtitle has-text-warning">
      The best place to get all your weather updates!
    </p>
  </div>
</section>