<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.png" alt="Logo" />
    </a>
    <span class="navbar-burger" data-target="navbarMenu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </span>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      {% set navPages = collections.all | eleventyNavigation %}
      {%- for entry in navPages %}
      <a href="{{ entry.url | url }}"
        class="navbar-item has-text-white{% if entry.url == page.url %} is-active{% endif %}">
        {{ entry.title }}
      </a>
      {%- endfor %}
    </div>
  </div>
</nav>