<!-- https://bulma.io/documentation/components/modal/ -->
<div id="weather-modal" class="modal has-text-centered">
  <div class="modal-background">
    <div class="modal-content">
      <div class="box">
        <p class="title is-4">Right Now</p>
        <figure class="image is-centered">
          <img src="{{weatherNowImage}}" alt="Partly Cloudy">
        </figure>
        <p class="title is-5">Temp (°C)</p>
        <p class="subtitle is-3">{{tempNow}}</p>
        <p class="title is-5">Wind Strength (km/h)</p>
        <p class="subtitle is-3">{{windStrengthNow}}</p>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>